bin/
obj/
out/
publish/

.vs/
*.user
*.userosscache
*.sln.docstates

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.suo
*.user
*.userosscache
*.sln.docstates

.DS_Store
Thumbs.db